<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ticket Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>${message}</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Issue Description</th>
          <th scope="col">Time Posted</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="bg-success">${tickets[0].id}</th>
          <td class="bg-success">${tickets[0].issue_desc}</td>

          <td class="bg-success">${tickets[0].time_posted}</td>
        </tr>
        <tr>
          <th scope="row" class="bg-warning">${tickets[1].id}</th>
          <td class="bg-warning">${tickets[1].issue_desc}</td>
          <td class="bg-warning">${tickets[1].time_posted}</td>
        </tr>
        <tr>
          <th scope="row" class="bg-danger">${tickets[2].id}</th>
          <td class="bg-danger">${tickets[2].issue_desc}</td>
          <td class="bg-danger">${tickets[2].time_posted}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
