<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Open Tickets</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/login">Login</a></li>
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item aria-current=" page>
          <a href="/openTickets">Open Tickets</a>
        </li>
      </ol>
    </nav>

    <h1>${message}</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Issue Description</th>
          <th scope="col">Time Posted</th>
        </tr>
      </thead>
      <tbody>
        ${ join.map((ticket) => { return `
        <tr>
          <td>${ticket.id}</td>
          <td>${ticket.all_tickets_id}</td>
          <td>${ticket.time_posted}</td>
          ` }).join('') }
        </tr>
      </tbody>
    </table>
  </body>
</html>
